header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;


label {
    display: flex;
    justify-content: center;

    cursor: pointer;
    width: 25%;
   

    input {
        padding: .4rem;
        width: 90%;
        border: none;
        outline: none; 
        font-size: 1.2rem;
    }

    img {
        width: 10%;
        scale: .7;
    }
}
}

main {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    
    div.big-card-separation {
        width: 40%;
    }
    
    aside.small-cards-separation {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1rem;
        width: 40%;
    }
}

section.rest-smallCard-separation {
    display: flex;
    justify-content: center;
    width: 100%;

    div#sub-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 90%;
        margin-top: 2rem;
    }
}

.articlesFiltred {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;

    app-small-card {
        width: 20%;
    }

}
