<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="Scie" secondTitle="nce"></app-title>
</header>


<main class="news">
    <div class="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectorScience[0].urlToImage ,
                category:category,
                publishedAt: articlesVectorScience[0].publishedAt,
                title: articlesVectorScience[0].title,
                description: articlesVectorScience[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside class="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectorScience[1].title, 
            img: articlesVectorScience[1].urlToImage,
            category: category
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorScience[2].title, 
            img: articlesVectorScience[2].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorScience[3].title, 
            img: articlesVectorScience[3].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorScience[4].title, 
            img: articlesVectorScience[4].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </aside>
</main>

<section class="rest-smallCard-separation">
    <div id="sub-container">
        <app-small-card *ngFor="let article of articlesVectorScience.slice(5); let i = index"
        [smallCardInformations] ="{
            title: articlesVectorScience[i + 5].title, 
            img: articlesVectorScience[i + 5].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </div>
</section>

