<article id="big-card-container">
    <a href="{{bigCardInformations.link}}" target="_blank">
        <img src="{{imageCompleted}}" alt="{{bigCardInformations.title}}">
        
    </a>
    
    <div id="dateAndCategory-container">
        <span id="category">{{bigCardInformations.category}}</span>
        <span id="publishedAt">{{bigCardInformations.publishedAt}}</span>
    </div>

    <a href="{{bigCardInformations.link}}">
        <h2>{{bigCardInformations.title}}</h2>
    </a>

    <p>{{bigCardInformations.description}}</p>
</article>
