article#big-card-container {
    display: flex;
    gap: 0.7rem;
    flex-direction: column; 

    
    img {
        width: 100%;
        border-radius: 0.5rem; 
    }


    p {
        color: var(--color_gray_default);
    }

    div#dateAndCategory-container {
        display: flex;
        justify-content: space-between;
  

        span#category {
            border: 1px solid var(--color_black_default);
            border-radius: 1.2rem;
            width: 20%;
            padding: 0.2rem;
            text-align: center;
        }

        span#publishedAt {
            border-bottom: .1rem solid var(--color_black_default);
        }
    }
}