<article id="big-card-container">
    <a [routerLink]="['contentDedail',bigCardInformations.title,bigCardInformations.category]">
        <img srcset="{{bigCardInformations.img}}">
    </a>
    
    <div id="dateAndCategory-container">
        <span id="category">{{bigCardInformations.category}}</span>
        <span id="publishedAt">{{bigCardInformations.publishedAt}}</span>
    </div>

    <a [routerLink]="['contentDedail', bigCardInformations.title, bigCardInformations.category]">
        <h2>{{bigCardInformations.title}}</h2>
    </a>

    <p>{{bigCardInformations.description}}</p>
</article>
