div#principal-title-container {
    display: flex;
    width: 100%;
    justify-content: center; 
    margin-top: 1rem;
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: capitalize;
        font-size: 5rem;
    }

    span {
        color: crimson;
    }
}

@media screen and (max-width:468px ) {

    div#principal-title-container {
        h1 {
            font-size: 3rem;
        }
    }
}