<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="busi" secondTitle="ness"></app-title>
</header>


<main class="news">
    <div class="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectorBusiness[0].urlToImage ,
                category:category,
                publishedAt: articlesVectorBusiness[0].publishedAt,
                title: articlesVectorBusiness[0].title,
                description: articlesVectorBusiness[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside class="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectorBusiness[1].title, 
            img: articlesVectorBusiness[1].urlToImage,
            category: category
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorBusiness[2].title, 
            img: articlesVectorBusiness[2].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorBusiness[3].title, 
            img: articlesVectorBusiness[3].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorBusiness[4].title, 
            img: articlesVectorBusiness[4].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </aside>
</main>

<section class="rest-smallCard-separation">
    <div id="sub-container">
        <app-small-card *ngFor="let article of articlesVectorBusiness.slice(5); let i = index"
        [smallCardInformations] ="{
            title: articlesVectorBusiness[i + 5].title, 
            img: articlesVectorBusiness[i + 5].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </div>
</section>

