<main>
    <ul>
        <li><a [routerLink]="['']">Home</a> /</li>
        <li><a [routerLink]="['/business']">business</a> /</li>
        <li><a [routerLink]="['/entertainment']">entertainment</a>/</li>
        <li><a [routerLink]="['/health']">health</a> /</li>
        <li><a [routerLink]="['/science']">science</a> /</li>
        <li><a [routerLink]="['/sports']">sports</a> /</li>
        <li><a [routerLink]="['/technology']">technology</a> /</li>
    </ul>

    <label>
        <input type="text" placeholder="search your notice">
        <img src="../../../assets/moon.png" alt="lupe image">
    </label>
</main>
