<section id="content-details-container">
    <article>
        <span>{{noticeDetail.publishedAt}}</span>
        <figure>
            <img src="{{noticeDetail.urlToImage}}" alt="{{noticeDetail.title}}">
        </figure>
    
        <h2>{{noticeDetail.title}}</h2>
        <p>{{noticeDetail.content}}</p>
    </article>

    <aside>
        <div id="author">
            <span>author</span>
            <p>{{noticeDetail.author}}</p>
        </div>

        <div id="source">  
            <span>source</span> 
            <p>{{noticeDetail.source.name || noticeDetail.source.id}}</p>
        </div>
    
        <div id="reference">
            <a href="{{noticeDetail.url}}" target="_blank">link to original reference</a>
        </div>
    </aside>
</section>
