@media screen and (max-width:840px) {
    section#content-details-container {
        aside {
            div {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 629px) {
    section#content-details-container {
        flex-direction: column;
        align-items: center;

        article {
            width: 90%;
        }

        aside {
            flex-direction: row;
            width: 90%;
        }
    }
    
}

@media screen and (max-width:423px) {

    section#content-details-container {

        article {
            margin-left: 0px;
            padding: 0px;
            figure {
                 width: 100%;
            }
        }

        aside {
            margin-top: 2rem;
            flex-direction: column;
        }
    }
}