header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    hr {
       border: 2px solid var(color_black_default);
       width: 100%;
       margin-top: 1rem;
       margin-bottom: 1rem;
    }
 
}