<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="spo" secondTitle="rts"></app-title>
</header>

<main class="news">
    <div id="big-card-separation">
        <app-big-card id="0"></app-big-card>
    </div>

    <div id="small-cards-separation">
        <app-small-card id="1"></app-small-card>
        <app-small-card id="2"></app-small-card>
        <app-small-card id="3"></app-small-card>
        <app-small-card id="4"></app-small-card>
    </div>
</main>
