<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="spo" secondTitle="rts"></app-title>
</header>


<main class="news">
    <div class="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectorSports[0].urlToImage ,
                category:category,
                publishedAt: articlesVectorSports[0].publishedAt,
                title: articlesVectorSports[0].title,
                description: articlesVectorSports[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside class="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectorSports[1].title, 
            img: articlesVectorSports[1].urlToImage,
            category: category
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorSports[2].title, 
            img: articlesVectorSports[2].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorSports[3].title, 
            img: articlesVectorSports[3].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorSports[4].title, 
            img: articlesVectorSports[4].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </aside>
</main>

<section class="rest-smallCard-separation">
    <div id="sub-container">
        <app-small-card *ngFor="let article of articlesVectorSports.slice(5); let i = index"
        [smallCardInformations] ="{
            title: articlesVectorSports[i + 5].title, 
            img: articlesVectorSports[i + 5].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </div>
</section>

