<header>
    <app-title firstTitle="Blog" secondTitle="news"></app-title>
    <label>
        <input 
        type="text" 
        placeholder="search your notice"
        (input)="filterNews($any($event.target).value) ">
        <img src="../../../assets/moon.png" alt="lupe image">
    </label>
</header>

<main class="news" *ngIf="articlesVectorHome.length > 0 && showArticlesFiltred else HomeFiltred">
    <div class="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                link: articlesVectorHome[0].link,
                img: articlesVectorHome[0].imageHome,
                category: category,
                publishedAt: articlesVectorHome[0].data_publicacao,
                title: articlesVectorHome[0].titulo,
                description: articlesVectorHome[0].indroducao
            }"
        >
        </app-big-card>
    </div>

    <aside class="small-cards-separation" >
        <app-small-card
            [smallCardInformations]="{
               link: articlesVectorHome[1].link,
                img: articlesVectorHome[1].imageThumb,
                title: articlesVectorHome[1].titulo,
                category: category
            }"
            >
        </app-small-card>

        <app-small-card
            [smallCardInformations]="{
                link: articlesVectorHome[2].link,
                img: articlesVectorHome[2].imageThumb,
                title: articlesVectorHome[2].titulo,
                category: category
            }"
            >
        </app-small-card>

        <app-small-card
            [smallCardInformations]="{
                link: articlesVectorHome[3].link,
                img: articlesVectorHome[3].imageThumb,
                title: articlesVectorHome[3].titulo,
                category: category
            }"
            >
        </app-small-card>

        <app-small-card
            [smallCardInformations]="{
                link: articlesVectorHome[4].link,
                img: articlesVectorHome[4].imageThumb,
                title: articlesVectorHome[4].titulo,
                category: category
            }"
            >
        </app-small-card>
    </aside>
</main>

<section class="rest-smallCard-separation" *ngIf="articlesVectorHome.length > 0 && showArticlesFiltred">
    <div id="sub-container">
        <app-small-card *ngFor="let article of articlesVectorHome.slice(5); let i = index"
            [smallCardInformations]="{
                link: articlesVectorHome[i + 5].link,
                title: articlesVectorHome[i + 5].titulo,
                img: articlesVectorHome[i + 5].imageThumb,
                category: category
            }"
        >
        </app-small-card>
    </div>
</section>

<ng-template #HomeFiltred>
    <section class="articlesFiltred" *ngIf="articlesHomeFiltred.length > 0">
        <app-small-card *ngFor="let article of articlesHomeFiltred; let i = index"
        [smallCardInformations]="{
            link: articlesHomeFiltred[i].link,
            title: articlesHomeFiltred[i].titulo,
            img: articlesHomeFiltred[i].imageThumb,
            category: category
        }"
        ></app-small-card>
    </section>
</ng-template>