<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="techn" secondTitle="ology"></app-title>
</header>


<main class="news" *ngIf="articlesVectortechnology.length > 0">
    <div class="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectortechnology[0].urlToImage ,
                category:category,
                publishedAt: articlesVectortechnology[0].publishedAt,
                title: articlesVectortechnology[0].title,
                description: articlesVectortechnology[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside class="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectortechnology[1].title, 
            img: articlesVectortechnology[1].urlToImage,
            category: category
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[2].title, 
            img: articlesVectortechnology[2].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[3].title, 
            img: articlesVectortechnology[3].urlToImage,
            category: category
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[4].title, 
            img: articlesVectortechnology[4].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </aside>
</main>

<section class="rest-smallCard-separation" *ngIf="articlesVectortechnology.length > 0">
    <div id="sub-container">
        <app-small-card *ngFor="let article of articlesVectortechnology.slice(5); let i = index"
        [smallCardInformations] ="{
            title: articlesVectortechnology[i + 5].title, 
            img: articlesVectortechnology[i + 5].urlToImage,
            category: category
        }"
        >
        </app-small-card>
    </div>
</section>

