<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="techn" secondTitle="ology"></app-title>
</header>


<main class="news">
    <div id="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectortechnology[0].urlToImage ,
                category:category,
                publishedAt: articlesVectortechnology[0].publishedAt,
                title: articlesVectortechnology[0].title,
                description: articlesVectortechnology[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside id="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectortechnology[1].title, 
            img: articlesVectortechnology[1].urlToImage
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[2].title, 
            img: articlesVectortechnology[2].urlToImage
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[3].title, 
            img: articlesVectortechnology[3].urlToImage 
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectortechnology[4].title, 
            img: articlesVectortechnology[4].urlToImage
        }"
        >
        </app-small-card>
    </aside>
</main>

<section id="rest-smallCard-separation">
    <app-small-card *ngFor="let article of articlesVectortechnology.slice(5); let i = index"
    [smallCardInformations] ="{
        title: articlesVectortechnology[i + 5].title, 
        img: articlesVectortechnology[i + 5].urlToImage
    }"
    >
    </app-small-card>
</section>

