:root {
    --color_black_default: #161616;
    --color_white_default: #fff7ff;
    --color_gray_default: #7a7a7a;
    --color_red_default: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color_white_default);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: var(--color_black_default);
}   


header {
    hr {
        margin-left: 1%;
        margin-right: 1%;
    }
    
    hr#upper-line {
        margin-bottom: 2rem;
    }
    
    hr#lower-line {
        margin-top: 1rem;
    }    
}

main {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    div#big-card-separation {
        width: 40%;
    }
    
    aside#small-cards-separation {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        flex-wrap: wrap;

        app-small-card {
            width: 45%;
            height: 33%;
        }
    }
}

section#rest-smallCard-separation {
    display: flex;
    gap: 2rem;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;

    app-small-card {
        width: 20%;
    }

}