<header>
    <hr id="upper-line"/>
        <app-menu-category></app-menu-category>
    <hr id="lower-line"/>
    
    <app-title firstTitle="hea" secondTitle="lth"></app-title>
</header>


<main class="news">
    <div id="big-card-separation">
        <app-big-card
            [bigCardInformations]="{
                img: articlesVectorHealth[0].urlToImage ,
                category:category,
                publishedAt: articlesVectorHealth[0].publishedAt,
                title: articlesVectorHealth[0].title,
                description: articlesVectorHealth[0].description
            }"
        >
        </app-big-card>
    </div>

    <aside id="small-cards-separation">
      
        <app-small-card
        [smallCardInformations] ="{
            title: articlesVectorHealth[1].title, 
            img: articlesVectorHealth[1].urlToImage
        }"
        >
        </app-small-card>
        

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorHealth[2].title, 
            img: articlesVectorHealth[2].urlToImage
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorHealth[3].title, 
            img: articlesVectorHealth[3].urlToImage 
        }"
        >
        </app-small-card>

        <app-small-card 
        [smallCardInformations] ="{
            title: articlesVectorHealth[4].title, 
            img: articlesVectorHealth[4].urlToImage
        }"
        >
        </app-small-card>
    </aside>
</main>

<section id="rest-smallCard-separation">
    <app-small-card *ngFor="let article of articlesVectorHealth.slice(5); let i = index"
    [smallCardInformations] ="{
        title: articlesVectorHealth[i + 5].title, 
        img: articlesVectorHealth[i + 5].urlToImage
    }"
    >
    </app-small-card>
</section>

